* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100vh;
}

/* CSS CUSTOM PROPERTIES */
:root {

    --twitter-color:  #1DA1F2;
    --facebook-color: #3C5A99;
    --instagram-color: #E1306C;

    --nav-height: #{to-rem(80px)};

    --min-mp: #{to-rem(8px)};
    --med-mp: #{to-rem(16px)};
    --big-mp: #{to-rem(32px)};
    --huge-mp: #{to-rem(32px)};

    --min-size: #{to-rem(40px)};
    --med-size: #{to-rem(56px)};
    --big-size: #{to-rem(110px)};
    --huge-size: #{to-rem(140px)};

    @include widescreen {
        --min-size: #{to-rem(50px)};
        --med-size: #{to-rem(66px)};
        --big-size: #{to-rem(140px)};
        --huge-size: #{to-rem(160px)};
    };
}

.min-mp {
    padding: var(--min-mp);
}
.med-mp {
    padding: var(--med-mp);
}
.big-mp {
    padding: var(--big-mp);
}
.huge-mp {
    padding: var(--huge-mp);
}



html {
    font-size: 1em;
}

/* Change autocomplete styles in WebKit */
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   -webkit-text-fill-color: #fff;
//   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
// }

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}


.fb {
    color: var(--facebook-color);
}

.tw {
    color: var(--twitter-color);
}

.ig {
    color: var(--instagram-color);
}
