.card--login {
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    background: #fff;
    min-height: 100vh;
    width: 100%;
    @include d-flex($dir: column, $ai: center, $jc: space-between);
}

.login {
    background: url('/img/bienvenido.jpeg') no-repeat center / cover;

    &__header {
        padding: getSpace(big) getSpace(min);
        min-height: 40%;
        @include d-flex($dir: column, $ai: center, $jc: center);

        &:first-child {
            width: 100%;
            align-self: flex-start;
        }
    }

    &__logo {
        object-position: center;
        width: 20vw;
        background: darkorange;
        @include d-flex(inline-flex,$ai: center, $jc: center);
        flex-shrink: 0;
    }

    &__link {
        width: 100%;
        margin: getSpace(min) 0;
    }

    &__form {
        min-height: 80%;
        padding: getSpace(min);
        @include d-flex($dir: column, $ai: center, $jc: space-around);
    }
}


.group--material {

    .label {
        width: 100%;
    }

    .input {
        border: 0;
        border-radius: 0;
        width: 90%;
        &:focus {
            outline: none;

            + .input__decoration::before {
                width: 100%;
                will-change: width;
                transition: width 0.2s ease;
                background: $blue-color-l;
            }
        }

        &__decoration {
            display: block;
            width: 100%;
            height: 2px;
            background: $ghost-color;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 0%;
                height: 100%;
            }

            &--error {
                &::before {
                    width: 100%;
                    background: $red-color-l;
                }
            }
        }
    }

    .login__icon {
        font-size: 1.2rem;
        width: 10%;
        color: $title-color;
        height: to-rem(36px);
        @include d-flex($ai: center, $jc: center);
    }
}

@include tablet {
    .card--login {
        width: 50%;
    }

    .login {

    }
};

@include widescreen {
    .card--login {
        width: 16%;
        min-height: 90vh;
    }

    .login {
        &__logo {
            width: 8vw;
        }
        &__form,
        &__header {
            padding: {
                left: getSpace(big);
                right: getSpace(big);
            }
        }
    }
};
