.btn {
    background: $ghost-color-l;
    border: 0;
    border-radius: $borde-material;
    color: $text-color;
    min-width: to-rem(120px);
    height: to-rem(38px);
    padding: getSpace(min) getSpace(med);
    font-size: getFontSize(h6);
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    @include d-flex($flex: inline-flex, $ai: center, $jc: center);
    @include roboto;

    &:focus,
    &:active {
        outline: none;
    }

    &__icon {
        margin-right: getSpace(sml);
    }

    &--big {
        width: to-rem(146px);
        height: to-rem(40px);
    }

    &--ghost-accent {
        background: $main-color;
        color: #fff;
    }

    &--accent {
        background: $blue-color-l;
        color: #fff;
    }
}


@mixin change-color($bg, $color: #fff) {
    background: $bg;
    color: $color;
}


.fab {
    position: fixed;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 50%;
    background: $ghost-color;
    color: $text-color;
    font-size: 1.6rem;
    cursor: pointer;
    @include d-flex($ai: center, $jc: center);

    &:focus,
    &:active {
        outline: none;
    }

    &--mini {
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
    }
}
