.card {
    overflow: hidden;
    text-decoration: none;
    border-radius: $borde-material;
    box-shadow: $shadow-material;
    margin-bottom: getSpace(min);
    @include d-flex($dir: column);

    &__owner,
    &__body,
    &__footer {
        padding: getSpace(min);
        text-decoration: none;
    }


    &__owner {
        text-decoration: none;
        @include d-flex($ai: center);
        &-picture {
            object-fit: cover;
            margin-right: getSpace(min);
            @include circle(var(--min-size));
        }

        &-name {
            @include montserrat;
        }
    }

    &__body {
        flex: 1 1 auto;
    }

    &__image {
        height: to-rem(220px);
        flex-grow: 1;
        flex-shrink: 0;
        // object-fit: contain;
        // object-position: center;
        background: {
            repeat: no-repeat;
            size: cover;
            position: center;

        }
    }

    &__title {
        text-align: center;
        font-size: getFontSize(h3);
        margin-bottom: getSpace(min);
        @include montserrat;
    }

    &__date,
    &__time {
        font-size: getFontSize(h6);
        @include roboto(b);
    }

    &__date {
        text-align: right;
    }

    &__description {
        margin-top: getSpace(med);
        overflow: hidden;
        height: to-rem(70px);
    }

    &__footer {
        @include d-flex($ai: center, $jc: space-between);
    }
}


// Temas
.card {
    &--link {
        box-shadow: none;
        border-radius: 0;
    }

    &--mini {
        .card {
            &__title {
                text-align: left;
            }
            &__body {
                width: 100%;
                @include d-flex($dir: column, $jc: space-between);
            }
            &__time {
                text-align: right;
            }
        }

        &-left,
        &-image {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &-left {
            .card__date {
                color: #fff;
                background: $ghost-color-l;
                width: var(--big-size);
                font-size: getFontSize(h3);
                @include d-flex($dir: column, $ai: center, $jc: center);
                &-month {
                    font-size: 1rem;
                }
            }
        }

        &-image {
            .card {
                &__image {
                    width: var(--big-size);
                    height: var(--big-size);
                    flex-basis: var(--big-size);
                }
            }
        }
    }

    &--profile {
        width: 100%;
        flex-direction: row;
        align-items: center;
        padding: getSpace(min);

        .profile {
            &__info {
                @include d-flex($ai: center);

                @include media-breakpoint-down(xs) {
                    text-align: center;
                    margin-bottom: var(--med-mp);
                    flex-direction: column;
                    justify-content: center;
                };

                &-user {
                    margin-left: var(--min-mp);
                }

            }
            &__name {
                font-size: getFontSize(h3);
                word-wrap: break-word;
            }
        }
    }
}
