#Mis_Logrosdata{
border: none;
background-color:#ffffff;
/* margin: 0px 22.5px; */
/* width: 702px;
height: 278px; */
resize: none;
cursor: default

}
#Descripcion{
border: none;
background-color:#ffffff;
/* margin: 0px 22.5px; */
/* width: 702px;
height: 278px; */
resize: none;
cursor: default

}
