// Colores Base
$main-color: hsl(222, 16%, 23%);
$blue-color: hsl(198, 79%, 47%);
$yellow-color: hsl(34, 90%, 65%);
$green-color: hsl(116, 41%, 54%);
$red-color: hsl(1, 79%, 63%);
$purple-color: hsl(264, 52%, 70%);

// Colores Light
$main-color-l: hsl(222, 16%, 33%);
$blue-color-l: hsl(198, 79%, 57%);
$yellow-color-l: hsl(34, 90%, 75%);
$green-color-l: hsl(116, 41%, 64%);
$red-color-l: hsl(1, 79%, 73%);
$purple-color-l: hsl(264, 52%, 80%);

// Escala de grises
$title-color: hsl(240, 5%, 30%);
$text-color: hsl(240, 4%, 40%);
$gray-color: hsl(240, 2%, 52%);
$gray-color-l: hsl(240, 2%, 64%);
$ghost-color: hsl(240, 2%, 76%);
$ghost-color-l: hsl(240, 4%, 88%);
