#app {
    min-height: 100vh;
}

.container-fluid {
    min-height: 100vh;
    padding: 0;
    position: relative;
}

.full--height {
    min-height: 100vh;
}

@for $i from 1 through 10 {
    .w-#{$i*10} {
        width: ($i*10) * 1%;
    }
}

.publicaciones {
    @include d-grid();
    grid-template-areas: "main-content aside-content";
    grid-template-columns: 1fr 25vw;


    &__main {
        grid-area: main-content;
    }

    &__aside {
        background: #eee;
        grid-area: aside-content;
    }
}

.section {
    padding: getSpace(min);
    position: relative;

    &__header {
        @include d-flex($dir: column, $ai: center);
        margin-bottom: 1.5vh;
    }

    &__title,
    &__subtitle {
        text-align: center;
        margin-bottom: 1.5vh;
        @include montserrat(l);
    }
    &--cards {
        padding: 0;
        @include d-grid;
        grid-template-columns: 1fr;
    }

    &--profile {
        height: calc(100vh - var(--nav-height));
    }
}


// ########################################################################################
// > TABLET DESIGN
// ########################################################################################

@include tablet {
    .section {
        padding: getSpace(med);

        &__title {
            text-align: left;
        }

        &__header {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1.5vh;
        }

        &--cards {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 2;
            grid-column-gap: getSpace(med);
        }
    }
};

// ########################################################################################
// > Desktop DESIGN
// ########################################################################################

@include widescreen {
    .section {
        // padding: getSpace(big);
    }
};
