#app {
    min-height: 100vh;
}

.container-fluid {
    min-height: 100vh;
    padding: 0;
    position: relative;
}


.section {
    padding: getSpace(min);
    position: relative;

    &__header {
        @include d-flex($dir: column, $ai: center);
        margin-bottom: 1.5vh;
    }

    &__title,
    &__subtitle {
        text-align: center;
        margin-bottom: 1.5vh;
        @include montserrat(l);
    }

    &--cards {
        padding: 0;
        @include d-grid;
        grid-template-columns: 1fr;
    }
}


// ########################################################################################
// > TABLET DESIGN
// ########################################################################################

@include tablet {
    .section {
        padding: getSpace(med);

        &__title {
            text-align: left;
        }

        &__header {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1.5vh;
        }

        &--cards {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: getSpace(med);
        }
    }
};

// ########################################################################################
// > Desktop DESIGN
// ########################################################################################

@include widescreen {
    .section {
        padding: getSpace(big);
    }
};

.section-form-slider {
    min-height: 100vh;
    background: deepskyblue;

    &__form {

    }
}
