.form {
    min-width: 50%;
    border-radius: $borde-material;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    &__header,
    &__body,
    &__footer {
        width: 100%;
        @include d-flex($dir: column, $jc: center, $ai: center);
    }

    &__body {
        padding: var(--med-mp) var(--min-mp);
        @include tablet { padding: var(--med-mp); };
        @include widescreen { padding: var(--big-mp) var(--med-mp)};

    }

    &__footer {
        height: 10vh;
        background-color: $main-color;
        * {
            color: #fff;
        }
    }
}

.label {
    user-select: none;
    &--center {
        @include d-flex($ai: center);
    }
}

.file {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $blue-color-l;
    box-shadow: $shadow-material;
    @include d-flex($ai: center, $jc: center);

    &__icon {
        font-size: 1.8rem;
        color: #fff;
    }

    &__text {
        margin-left: getSpace(min);
        font-size: getFontSize(h6);
        @include roboto;
    }

    .input {
        @include hidden;
    }
}

.group {
    width: 100%;
    margin-bottom: getSpace(med);
    @include d-flex($ai: center, $jc: flex-start);

    &--column {
        align-items: flex-start;
        justify-content: stretch;
        flex-direction: column;
    }

    &--error {
        border-color: $red-color-l;
    }
}

.input {
    min-width: 12vw;
    min-height: to-rem(36px);
    width: 100%;
    padding: getSpace(sml);
    border-radius: $borde-material;
    border: 1px solid $gray-color-l;

    &--disabled {
        background: lightgray;
    }
}

.checkmark {
    font: {
        family: 'Ionicons';
        size: 1.3rem;
    }
    margin: 0 getSpace(sml);

    + .label {
        cursor: pointer;
    }

    &--checkbox,
    &--radio {
        @include d-flex(inline-flex, $ai: center);
        color: $gray-color-l;
        will-change: transform, color;
    }

    &--checkbox {
        &::before {
            content: '\f380';
        }
    }

    &--radio {
        &::before {
            content: '\f360';
        }
    }

    &--switch {
        display: block;
        width: 36px;
        height: 20px;
        border-radius: 10px;
        background: $gray-color;
        position: relative;
        will-change: background;
        transition: background 0.2s ease;

        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 2px;
            left: 2px;
            will-change: transform;
        }
    }
}

.checkbox,
.radio,
.switch {
    display: none;
}

.checkbox {
    &:checked + .checkmark--checkbox::before {
        content: '\f148';
        color: $blue-color-l;
        animation: tick 0.2s cubic-bezier(1,.26,.14,.67) 1 alternate forwards;
    }
}

.radio {
    &:checked + .checkmark--radio::before {
        content: '\f361';
        color: $blue-color-l;
        animation: tick 0.2s cubic-bezier(1,.26,.14,.67) 1 alternate forwards;
    }
}

.switch {
    &:checked {
        + .checkmark--switch::before {
            animation: switch 0.2s cubic-bezier(1,.26,.14,.67) 1 alternate forwards;
        }

        + .checkmark {
            background: $blue-color-l;
        }
    }
}

@include keyframes(switch) {
    0% {
        transform: scale(0) translateX(2px);
    }
    100% {
        transform: scale(1) translateX(16px);
    }
};

@include keyframes(tick) {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
};

.error {
    color: $red-color-l;
    font-size: getFontSize(h6);
    @include roboto();
}
