.form {
    width: 100%;
    @include d-flex($dir: column);

    &--search-bar {
        width: calc(100% - 20px);
    }

    &__input,
    &__switch,
    &__file,
    &__checkbox,
    &__text {
        width: 100%;

        &--column {
            @include d-flex($dir: column);
        }
    }
}

.form__input--search-main {
    width: 100%;
    background: 0;
    bottom: 0;
    color: #fff;

    &::placeholder {
        color: #fff;
    }

    &:focus {
        outline: none;
    }
}

.form {
    &__checkbox-input,
    &__file-input,
    &__switch-input,
    &__radio-input {
        display: none;
    }

    &__radio {
        &-label {
            @include d-flex($flex: inline-flex,$ai: center);

            &::before {
                font-family: 'Ionicons';
                content: '\F360';
                font-size: 1.2rem;
                display: inline-block;
                margin-right: getSpace(sml);
                color: $ghost-color;
            }
        }

        &-input:checked + .form__radio-label::before {
            content: '\F361';
            color: $blue-color-l;
            animation: tick 0.2s ease;
        }
    }


    &__checkbox {
        &-label {
            @include d-flex(inline-flex, $ai: center);
            &::before {
                font-family: 'Ionicons';
                content: '\f380';
                font-size: 1.4rem;
                display: inline-block;
                color: $ghost-color;
                will-change: transform;
                margin-right: getSpace(sml);
            }
        }

        &-input:checked
        + &-label{
            &::before {
                content: '\f2b9';
                color: $blue-color-l;
                animation: tick 0.2s ease-in-out;
                @include keyframes(tick) {
                    0% {
                        transform: scale(0);
                    }
                    80% {
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &__input {
        margin-bottom: getSpace(min);
        &-input {
            min-height: to-rem(32px);
            border: 1px solid $gray-color-l;
            border-radius: $borde-material;
            padding: 0 getSpace(min);
        }
    }

    &__file {
        &-label {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            font-size: 1.5rem;
            background: $ghost-color;
            @include d-flex(inline-flex, $ai: center, $jc: center);
        }
    }

    &__text {
        &-input {
            min-height: to-rem(140px);
            padding: getSpace(min);
            border: 1px solid $gray-color-l;
            border-radius: $borde-material;
        }
    }

    &__switch {

        &-label {
            @include d-flex(inline-flex);
        }

        &-switch {
            display: block;
            width: to-rem(38px);
            height: to-rem(20px);
            border-radius: calc(20px / 2);
            background: $ghost-color;
            will-change: background;
            transition: background 0.2s ease;
            margin-right: getSpace(min);

            &::before {
                content: '';
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                will-change: transform;
                transform: translate(2px, 2px);
            }
        }

        .form__switch-input:checked + .form__switch-switch::before {
            transform: translate(20px, 2px);
            animation: switch 0.2s ease;

            @include keyframes(switch) {
                0% {
                    transform: translate(2px, 2px) scale(0);
                }
                80% {
                    transform: translate(12px, 2px) scale(0);
                }
                100% {
                    transform: translate(20px, 2px) scale(1);
                }
            };
        }

        .form__switch-input:checked + .form__switch-switch {
            background: $blue-color-l;
        }

    }

    &__group-radio {
        .link {
            width: 100%;
        }
        @include d-flex($ai: center, $jc: space-around);
    }

    &--error {
        border-color: $red-color;
    }

    &__error {
        display: block;
        visibility: hidden;
        width: 100%;
        height: 20px;
        color: $red-color;
        font-size: getFontSize(h6);
        @include roboto;

        // &--show {
        //     visibility: visible;
        // }
    }
}
