.menu {
    width: 100%;
    min-height: var(--nav-height);

    &--main {
        background: $main-color;
        position: fixed;
        padding: 0 getSpace(med);
        z-index: 1001; // Número para evitar conflictos
        @include d-grid;
        align-items: center;
        grid-template-columns: 33px 1fr 30px;
        grid-template-areas: "navigation-search navigation-brand navigation-hamburger";

        + .container-fluid {
            padding-top: var(--nav-height);
        }
    }

    &__brand {
        grid-area: navigation-brand;
    }

    &__search {
        grid-area: navigation-search;
        align-items: center;
        justify-items: center;
    }

    &__form-search {
        width: 100%;
        height: 80%;
        background: $main-color;
        position: absolute;
        padding: 0 getSpace(min);
        z-index: 100;
        transform: scaleX(1);
        @include hidden;

        &--open {
            animation: show 0.2s ease alternate forwards;
            @include hidden(visible);
            @include d-flex($ai: center);
            @include keyframes(show) {
                from{
                    transform: scaleX(0);
                }
            };
        }

        .input--searcher {
            border: 0;
        }
    }


    &__nav,
    &__user {
        width: 90%;
    }

    &__nav {
        height: calc(100% - var(--nav-height));
        grid-area: navigation-nav;
    }

    &__user {
        grid-area: navigation-user;
    }

    &__hamburger {
        width: 100%;
        height: 100%;
        grid-area: navigation-hamburger;
        @extend %flex-center;
    }

    &__wrap,
    .brand__title{
        @include hidden;
    }

    &__wrap {
        grid-area: navigation-wrap;
        will-change: visibility, display;
        transition: display 0.2s ease, visibility;
        &--open {
            background: $main-color;
            width: 100%;
            height: calc(100vh - var(--nav-height));
            top: var(--nav-height);
            position: absolute;
            @include hidden(visible);
            @include d-flex($dir: column-reverse, $jc: space-around, $ai: center);
        }
    }

    &--guest {
        flex-direction: column;
        justify-content: center;

        .menu__user {
            @include d-flex($ai: center, $jc: space-around);
        }
    }
}

.form__search{

    &-form {
        background: #fff;
        width: 100%;
        height: to-rem(40px);
        border-radius: $borde-material;
        overflow: hidden;
        @include d-flex($ai: center, $jc: center);
    }

    &-btn,
    &-icon {
        width: to-rem(40px);
        height: to-rem(40px);
        border: 0;
        border-radius: 0;
        cursor: pointer;
        user-select: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &-btn {
        border: 0;
        background: $ghost-color-l;
        display: inline-block;
    }

    &-input {
        width: calc(100% - var(--nav-height));
        height: to-rem(40px);
        border: 0;
        padding: getSpace(sml);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            outline: none;
        }
    }

    &-icon {
        background: #fff;
        color: $title-color;
        @include d-flex($ai: center, $jc: center);
    }
}

.brand__logo,
.user__picture {
    width: 48px;
    height: 48px;
}

.brand {
    @extend %flex-center;
    text-decoration: none;
    &__logo {
        object-fit: contain;
    }

    &__title {
        color: #fff;
        @include montserrat;
    }
}

.search__icon {
    width: to-rem(32px);
    height: to-rem(32px);
    cursor: pointer;
    user-select: none;
    color: #fff;
    font-size: 1.4rem;
    @extend %flex-center;
}

.nav {
    &--main {
        width: 100%;
        height: 100%;
        @include d-flex($flex: inline-flex);
    }

    &__list {
        width: 100%;
        list-style-type: none;
        @include d-flex($dir: column);
    }

    &__item {
        user-select: none;
        border-bottom: 1px solid $gray-color-l;
        position: relative;

        &:nth-child(7),
        &:last-child {
            border: 0;
            margin: var(--min-mp) 0;
            @include d-flex($jc: space-between);
        }
    }

    &__item--active {
        order: -1;
    }

    &__link{
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        padding: getSpace(min) getSpace(med);
        font-size: getFontSize(h6);
        @include roboto(b);
        @include d-flex($flex: inline-flex, $ai: center);
    }
}

.user {
    padding: getSpace(min);
    cursor: pointer;
    @include d-flex($ai: center);
    &__picture {
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
        background: #fff;
        margin-right: getSpace(min);
        @include d-flex($flex: inline-flex);

        &--big {
            width: 64px;
            height: 64px;
        }
    }

    &__username {
        text-align: center;
        color: #fff;
    }
}

.submenu {
    list-style-type: none;
    @include hidden;

    &__item {
        width: 100%;
        border: 0;
        @include d-flex($ai: center, $jc: center);
    }

    &__link {
        @extend .nav__link;
    }

    &--open {
        @include hidden(visible);
        display: block;
        transition: display 0.2s ease;
    }
}

.account__icon {
    font-size: 1.2rem;
    margin-right: getSpace(min);
}

.hamburger {
    width: 30px;
    height: 30px;

    &__bar {
        display: block;
        height: 1px;
        width: 24px;
        background: #fff;
        will-change: transform, opacity;
        opacity: 1;
        transition: opacity 0.1s ease, transform 0.2s ease;

        &:first-child {
            width: 18px;
            transform: translate(9px, 8px);
        }

        &:nth-child(2) {
            transform: translate(3px, 14px);
        }

        &:last-child {
            width: 14px;
            transform: translate(13px, 20px);
        }
    }

    &--open {
        .hamburger__bar {
            &:first-child,
            &:last-child {
                width: 24px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:first-child {
                transform: translate(3px, 15px) rotateZ(45deg);
            }

            &:last-child {
                transform: translate(3px, 13px) rotateZ(-45deg);
            }
        }
    }
}


// Responsive web Tablet
@include tablet {
    .menu {
        &--main {
            grid-template-columns: 33px 1fr 30px;
            grid-column-gap: getSpace(min);
        }

        .brand__title {
            text-align: center;
            @include hidden(visible);
            @include d-flex(inline-flex);
        }
    }
};

// Design Desktop
@include widescreen {
    .menu {
        &--main {
            grid-template-columns: 15% 30px 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "navigation-brand navigation-search navigation-wrap";
        }

        &__wrap {
            height: 100%;
            position: relative;
            @include hidden(visible);
            @include d-grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-areas: "navigation-nav";

            &--open {
                height:100%;
                position: relative;
                top: 0;
            }
        }

        &__nav {
            width: 100%;
            height: 100%;
            @include d-flex($ai: center);
        }

        &__user {
            width: 100%;
            height: 100%;
            cursor: pointer;
            user-select: none;
            @include d-flex($ai: center);
        }
    }

    .submenu {
        width: to-rem(220px);
        position: absolute;
        background: #fff;
        border-radius: $borde-material;
        box-shadow: $shadow-material;
        padding: getSpace(min) getSpace(med);
        top: to-rem(70px);
        right: 0;
        flex-direction: column;
        @include hidden;

        &__link {
            color: $title-color;
        }

        &--open {
            @include hidden(visible);
            @include d-flex($dir: column, $ai: flex-start);
        }

        &__configure {
            color: $text-color;
        }
    }

    .nav {
        &__list {
            @include d-flex($jc: flex-end);
        }

        &__item {
            border: 0;
            &:nth-child(7),
            &:last-child {
                // margin: 0;
                @include d-flex($ai: center, $jc: space-around);
            }

            &:nth-child(7) {
                margin-right: getSpace(min);
            }

            &--active {
                order: 0;
            }
        }
    }

    .user {
        flex-direction: row;
        position: relative;
        &__picture {
            width: 40px;
            height: 40px;
        }
    }


    .hamburger {
        @include hidden;
    }
};
